body {
  padding-top: 54px;
  background: #EEDB74 ;
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 25px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.navbar-default {
  background-color: #6C4B1A;
  border-color: #E7E7E7;
}

.navbar-brand {
  color: #EEDB74;
  font-family: 'Yesteryear', cursive;
  font-size: 28px;  
}

.navbar-brand:hover {
  color: rgb(190, 174, 90);
}

.nav-link {
  color: #EEDB74;
}

.nav-link:hover {
  color: rgb(190, 174, 90);
}

.list-group-item {
  background: #EEDB74;
  color: #6C4B1A;
}

.list-group-item:hover {
  color: rgb(61, 41, 15);
}

.py-5 {
  background-color: #6C4B1A;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.35);
  max-width: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
}

.card-body {
  background-color: rgba(185, 128, 47, 0.808);
  border-color: #6C4B1A;
}

.card {
  border-color: #6C4B1A;
}

.card-title a {
  color: #16191b;  
}

.card-footer {
  background-color: #6C4B1A;
}

.card-footer2 {
  background-color: rgba(185, 128, 47, 0.808);
}

.jumbotron {
  background: #EEDB74;
  color: #6C4B1A;
  border-radius: 0px;
  padding: 1rem 1rem;
  padding-left: 20px;
}

.my-1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.jumbotron-sm { 
  padding-top: 24px;
  padding-bottom: 24px; 
}

.jumbotron small {
  color: #6C4B1A;
}

.h1 small {
  font-size: 24px;
}

.btn-primary {
  background: #EEDB74;
  color: #6C4B1A;
  border-color: #6C4B1A;
}

.btn {
  margin-bottom: 10px;
}

.btn:hover{
  background-color: rgb(207, 190, 102);
  color: rgb(85, 58, 21);
  border-color: rgb(80, 54, 19);
}

/*Cart CSS*/
.dropdown-toggle{
  color:#EEDB74;
  margin-top:10px;
  padding-top:10px;
  line-height: 1.15px;
}

.dropdown-toggle:hover{
  color: rgb(190, 174, 90);
}

ul.dropdown-cart{
  min-width:250px;
}
ul.dropdown-cart li .item{
  display:block;
  padding:3px 10px;
  margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
  background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

ul.dropdown-cart li .item-left{
  float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
  float:left;
}
ul.dropdown-cart li .item-left span.item-info{
  margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
  display:block;
}
ul.dropdown-cart li .item-right{
  float:right;
}

.text-center{
  padding-left: 10px;
}

.page-header{
  padding-top: 15px;
}

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #6C4B1A;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #6C4B1A;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #EEDB74;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #EEDB74;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}